<!DOCTYPE html>

<html ng-app="CISAccredApp">
<head>
    <title>CISAccred</title>
    <meta charset="utf-8" />

    <script src="scripts/angular.js"></script>
    <script src="scripts/angular-route.js"></script>
    <script src="scripts/jquery-3.0.0.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="angular/cisaccredapp.module.js"></script>
    <script src="angular/authentication.service.js"></script>
    <script src="angular/session.service.js"></script>
    <script src="angular/main.controller.js"></script>
    <script src="angular/login.controller.js"></script>
    <script src="angular/home.controller.js"></script>
    <script src="angular/student.controller.js"></script>
    <script src="angular/abet.controller.js"></script>
    <script src="angular/user.controller.js"></script>
    <script src="scripts/notify.min.js"></script>
    <link href="css/cissacred.css" rel="stylesheet" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
</head>

<body ng-controller="mainController" id="main">
    <div id="logo">
            CISAccred
        <div style="float: right; font-size: 22px; margin-top: 12px; margin-right: 10px;">
            <span ng-bind="session.username"></span>
        </div>
    </div>
    
    <!--Navigation bar-->
    <nav id="main-nav">
        <div>
            <ul>
                <li ng-click='$location.path("/home");'>
                    Home
                </li>
                <li ng-click='$location.path("/student");'>
                    Student Records
                </li>
                <li ng-click='$location.path("/abet");'>
                    Add / Edit ABET Data
                </li>
                <li ng-click='$location.path("/user");'>
                    User Management
                </li>
            </ul>
        </div>
    </nav>
    <div id="content-well" class='well well-lg'>
        <div id="content" ng-view>
            <!--Pages get filled here-->
        </div>
    </div>
</body>
</html>

