<!DOCTYPE html>

<html ng-app="CISAccredApp">
<head>
    <title>CISAccred</title>
    <meta charset="utf-8" />

    <script src="scripts/angular.js"></script>
    <script src="scripts/angular-route.js"></script>
    <script src="scripts/jquery-3.0.0.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/validate.min.js"></script>
    
    <script src="angular/cisaccredapp.module.js"></script>
    <script src="angular/authentication.service.js"></script>
    <script src="angular/session.service.js"></script>
    <script src="angular/php.service.js"></script>
    <script src="angular/main.controller.js"></script>
    <script src="angular/login.controller.js"></script>
    <script src="angular/home.controller.js"></script>
    <script src="angular/student.controller.js"></script>
    <script src="angular/abet.controller.js"></script>
    <script src="angular/user.controller.js"></script>
    <script src="scripts/notify.min.js"></script>
    
    <link href="css/cissacred.css" rel="stylesheet" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png">
</head>

<body ng-controller="mainController" id="main">
    <div id="logo">
            CISAccred&nbsp;<div style="display: inline;font-size:14px; font-family:sans-serif;"><i>/saɪ ˈseɪkrəd/&nbsp;&nbsp;--</i>  1. <i>adj.</i> Miserable, unbearable. "A CISAccred project."&nbsp;&nbsp;&nbsp;2. <i>n.</i> Insomnia. "Suffering from CISAccred."</div>
        <div style="float: right; font-size: 22px; margin-top: 12px; margin-right: 10px;">
            <span ng-bind="session.username"></span>
        </div>
    </div>
    
    <!--Navigation bar-->
    <nav id="main-nav">
        <div>
            <ul>
                <li ng-click='$location.path("/");' ng-hide="session.isLoggedIn();">
                    <span class="glyphicon glyphicon-lock"></span>&nbsp;Login
                </li>
                <li ng-click='$location.path("/home");' ng-hide="!session.isLoggedIn();">
                    <span class="glyphicon glyphicon-home"></span>&nbsp;Home
                </li>
                <li ng-click='$location.path("/student");' ng-hide="!session.isLoggedIn();">
                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;Student Records
                </li>
                <li ng-click='$location.path("/abet");' ng-hide="(!session.isLoggedIn()) || (!session.isAdmin)">
                    <span class="glyphicon glyphicon-list-alt"></span>&nbsp;Add / Edit ABET Data
                </li>
                <li ng-click='$location.path("/user");' ng-hide="(!session.isLoggedIn()) || (!session.isAdmin)">
                    <span class="glyphicon glyphicon-user"></span>&nbsp;User Management
                </li>
                <li class="logout-btn" ng-click='session.logout();' ng-hide="!session.isLoggedIn();">
                    <span class="glyphicon glyphicon-remove"></span>&nbsp;Logout
                </li>
            </ul>
        </div>
    </nav>
    <div id="content-well" class='well well-lg'>
        <div id="content" ng-view>
            <!--Pages get filled here-->
        </div>
    </div>
</body>
</html>

