<ul class="nav nav-tabs">
    <li id="class" class="active" role="presentation" ng-click="activeTab.set('class')"><a>Classes</a></li>
    <li id="rubric" role="presentation" ng-click="activeTab.set('rubric')"><a>Rubrics</a></li>
    <li id="outcome" role="presentation" ng-click="activeTab.set('outcome')"><a>Outcomes</a></li>
</ul>

<div id="abet-tab" ng-show="activeTab.active === 'class'">
    Class page!
</div>

<div  id="abet-tab" ng-show="activeTab.active === 'rubric'">
    rubric page!
</div>

<div  id="abet-tab" ng-show="activeTab.active === 'outcome'">
   outcome page!
</div>