<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                UserAdd Form Template Thing
                <form>
                    Name: <input type="text" class="form-control" placeholder="Name" ng-model="name" /><br />
                    Username: <input type="text" class="form-control" placeholder="Username" ng-model="username" /><br />
                    Password: <input type="text" class="form-control" placeholder="Password" ng-model="password" /><br />
                    Is Admin? <input type="checkbox" class="form-control" ng-model="admin" /><br />
                    <input id="userAdd" type="submit" class="btn btn-default" value="Add User" ng-click="" /><br /><br />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<br />
<br />

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal2">
    Launch modal 2
</button>

<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="modal2Label" adia-hiden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modal1Label">Add User</h3>
            </div>
            <div class="modal-body">
                Hello world!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>