<ul class="nav nav-tabs">
    <li id="class" class="active" role="presentation" ng-click="activeTab.set('class')"><a>Classes</a></li>
    <li id="rubric" role="presentation" ng-click="activeTab.set('rubric')"><a>Rubrics</a></li>
    <li id="outcome" role="presentation" ng-click="activeTab.set('outcome')"><a>Outcomes</a></li>
    <li id="user" role="presentation" ng-click="activeTab.set('user')"><a>Users</a></li>
    <li id="evaluator" role="presentation" ng-click="activeTab.set('evaluator')"><a>Evaluators</a></li>
</ul>

<div id="abet-tab" ng-show="activeTab.active === 'class'">
    <h3 style="margin-top: 0px; padding: 10px;">Classes:</h3>
    <table class="class-table-inactive">
        <tr>
            <td><b>Course Number</b></td>
            <td><b>Course Title</b></td>
            <td></td>
        </tr>
        <tr ng-repeat="c in classes">
            <td>&nbsp;{{c["C_COURSE_NUM"]}}</td>
            <td>&nbsp;{{c["C_COURSE_TITLE"]}}</td>
            <td><a ng-click="class.verb='restore';class.id=c['C_ID'];restoreClass();">&nbsp;<span class="glyphicon glyphicon-refresh"></span>&nbsp;Restore...</a></td>
        </tr>
    </table>
    <br /><br />
</div>

<div id="abet-tab" ng-show="activeTab.active === 'rubric'">
    <h3 style="margin-top: 0px; padding: 10px;">Rubrics:</h3>
    <table class="rubric-table-inactive">
        <tr>
            <td><b>Assessment Method</b></td>
            <td><b>Rubric Title</b></td>
            <td></td>
        </tr>
        <tr ng-repeat="r in rubrics">
            <td>&nbsp;{{r["R_ASSESSMENT_METH"]}}</td>
            <td>&nbsp;{{r["R_NAME"]}}</td>
            <td><a>&nbsp;<span class="glyphicon glyphicon-refresh"></span>&nbsp;Restore...</a></td>
        </tr>
    </table>
    <br /><br />
</div>

<div id="abet-tab" ng-show="activeTab.active === 'outcome'">
    <h3 style="margin-top: 0px; padding: 10px;">Outcomes:</h3>
    <table class="outcome-table-inactive">
        <tr>
            <td><b>Outcome Name</b></td>
            <td><b>Outcome Desc</b></td>
            <td></td>
        </tr>
        <tr ng-repeat="o in outcomes">
            <td>{{o["OUT_NAME"]}}</td>
            <td>{{o["OUT_DESC"]}}</td>
            <td><a>&nbsp;<span class="glyphicon glyphicon-refresh"></span>&nbsp;Restore...</a></td>
        </tr>
    </table>
    <br /><br />
</div>

<div id="abet-tab" ng-show="activeTab.active === 'user'">
    <h3 style="margin-top: 0px; padding: 10px;">Users:</h3>
    <table class="user-table-inactive">
        <tr>
            <td><b>First Name</b></td>
            <td><b>Last Name</b></td>
            <td><b>System Username</b></td>
            <td></td>
        </tr>
        <tr ng-repeat="u in users">
            <td>&nbsp;{{u["P_FNAME"]}}</td>
            <td>&nbsp;{{u["P_LNAME"]}}</td>
            <td>&nbsp;{{u["P_USERNAME"]}}</td>
            <td><a>&nbsp;<span class="glyphicon glyphicon-refresh"></span>&nbsp;Restore...</a></td>
        </tr>
    </table>
    <br /><br />
</div>

<div id="abet-tab" ng-show="activeTab.active === 'evaluator'">
    <h3 style="margin-top: 0px; padding: 10px;">Evaluators:</h3>
    <table class="evaluator-table-inactive">
        <tr>
            <td><b>Evaluator Name</b></td>
            <td></td>
        </tr>
        <tr ng-repeat="e in evaluators">
            <td>&nbsp;{{e["EVAL_NAME"]}}</td>
            <td><a>&nbsp;<span class="glyphicon glyphicon-refresh"></span>&nbsp;Restore...</a></td>
        </tr>
    </table>
    <br /><br />
</div>