<ul class="nav nav-tabs">
    <li id="class" class="active" role="presentation" ng-click="activeTab.set('class')"><a>Classes</a></li>
    <li id="rubric" role="presentation" ng-click="activeTab.set('rubric')"><a>Rubrics</a></li>
    <li id="criteria" role="presentation" ng-click="activeTab.set('criteria')"><a>Criteria</a></li>
    <li id="outcome" role="presentation" ng-click="activeTab.set('outcome')"><a>Outcomes</a></li>
    <li id="objective" role="presentation" ng-click="activeTab.set('objective')"><a>Objectives</a></li>
    <li id="user" role="presentation" ng-click="activeTab.set('user')"><a>Users</a></li>
    <li id="evaluator" role="presentation" ng-click="activeTab.set('evaluator')"><a>Evaluators</a></li>
</ul>

<div id="abet-tab" ng-show="activeTab.active === 'class'">
    <h3 style="margin-top: 0px; padding: 10px;">Classes:</h3>
    <table class="class-table-inactive">
        <tr>
            <td><b>Course Number</b></td>
            <td><b>Course Title</b></td>
            <td></td>
        </tr>
        <tr ng-repeat="c in classes">
            <td>&nbsp;{{c["C_COURSE_NUM"]}}</td>
            <td>&nbsp;{{c["C_COURSE_TITLE"]}}</td>
            <td><a data-toggle="modal" data-target="#addClass" ng-click="class.verb = 'restore';class.courseNumber = c['C_COURSE_NUM'];class.title = c['C_COURSE_TITLE'];class.id=c['C_ID'];">&nbsp;<span class="glyphicon glyphicon-refresh"></span>&nbsp;Restore...</a></td>
        </tr>
    </table>
    <br /><br />
</div>

<div id="abet-tab" ng-show="activeTab.active === 'rubric'">
    <h3 style="margin-top: 0px; padding: 10px;">Rubrics:</h3>
    <table class="rubric-table-inactive">
        
    </table>
    <br /><br />
</div>

<div id="abet-tab" ng-show="activeTab.active === 'criteria'">
    <h3 style="margin-top: 0px; padding: 10px;">Criteria:</h3>
    <table class="rubric-table-inactive"></table>
    <br /><br />
</div>

<div id="abet-tab" ng-show="activeTab.active === 'outcome'">
    <h3 style="margin-top: 0px; padding: 10px;">Outcomes:</h3>
    <table class="rubric-table-inactive"></table>
    <br /><br />
</div>

<div id="abet-tab" ng-show="activeTab.active === 'objective'">
    <h3 style="margin-top: 0px; padding: 10px;">Objectives:</h3>
    <table class="rubric-table-inactive"></table>
    <br /><br />
</div>

<div id="abet-tab" ng-show="activeTab.active === 'user'">
    <h3 style="margin-top: 0px; padding: 10px;">Users:</h3>
    <table class="rubric-table-inactive"></table>
    <br /><br />
</div>

<div id="abet-tab" ng-show="activeTab.active === 'evaluator'">
    <h3 style="margin-top: 0px; padding: 10px;">Evaluators:</h3>
    <table class="rubric-table-inactive"></table>
    <br /><br />
</div>