<div id="password-form" name="password-form" class="input-group">
    <form id="passwd" name="passwd" novalidate>
        Old Password: <br /><input id="oldPassword" name="oldPassword" type="password" class="form-control" placeholder="Password" ng-model="change.old" required><br /><br /><br />
        New Password: <br /><input id="newPassword" name="newPassword" type="password" class="form-control" placeholder="Password" ng-model="change.new" required><br /><br /><br />
        <input data-toggle="modal" data-target="#passwordChange" id="password-btn" name="passwd-btn" ng-disabled="passwd.oldPassword.$invalid || passwd.newPassword.$invalid" type="submit" class="btn btn-default" value="Change Password"/>
    </form>
</div>

<div class="modal fade" id="passwordChange" tabindex="-1" role="dialog" aria-labelledby="passwordChangeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="passwordChangeLabel">Confirm Password Change?</h3>
            </div>
            <div class="modal-body">
                <div id="passwordChange-form">
                    Are you sure you would like to change your password?
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary" ng-click="changePassword();" data-dismiss="modal">
                    Confirm
                </button>
            </div>
        </div>
    </div>
</div>