Choose Year:<br />
<select class="form-control" ng-model="selectedYear">
    <option value="2000">2000</option>
    <option value="2001">2001</option>
    <option value="2002">2002</option>
    <option value="2003">2003</option>
    <option value="2004">2004</option>
    <option value="2005">2005</option>
    <option value="2006">2006</option>
    <option value="2007">2007</option>
    <option value="2008">2008</option>
    <option value="2009">2009</option>
    <option value="2010">2010</option>
    <option value="2011">2011</option>
    <option value="2012">2012</option>
    <option value="2013">2013</option>
    <option value="2014">2014</option>
    <option value="2015">2015</option>
    <option value="2016">2016</option>
    <option value="2017">2017</option>
    <option value="2018">2018</option>
    <option value="2019">2019</option>
    <option value="2020">2020</option>
    <option value="2021">2021</option>
    <option value="2022">2022</option>
    <option value="2023">2023</option>
    <option value="2024">2024</option>
    <option value="2025">2025</option>
    <option value="2026">2026</option>
    <option value="2027">2027</option>
    <option value="2028">2028</option>
    <option value="2029">2029</option>
    <option value="2030">2030</option>
    <option value="2031">2031</option>
    <option value="2032">2032</option>
    <option value="2033">2033</option>
    <option value="2034">2034</option>
    <option value="2035">2035</option>
    <option value="2036">2036</option>
    <option value="2037">2037</option>
    <option value="2038">2038</option>
    <option value="2039">2039</option>
    <option value="2040">2040</option>
    <option value="2041">2041</option>
    <option value="2042">2042</option>
    <option value="2043">2043</option>
    <option value="2044">2044</option>
    <option value="2045">2045</option>
</select>
<br />
<span ng-show="selectedYear != 'undefined'">Choose Semester:</span><br />
<select class="form-control" ng-model="selectedSemester" ng-show="selectedYear != 'undefined'">
    <option value="Fall">Fall</option>
    <option value="Spring">Spring</option>
    <option value="Summer">Summer</option>
</select>

<div ng-show="selectedSemester != 'undefined'">
    <br />
    Choose Class:
    <select class="form-control" ng-model="selectedClass">
        <option ng-repeat="c in classes" value="{{c['C_ID']}}">{{c['C_COURSE_NUM']}}: {{c['C_COURSE_TITLE']}}</option>
    </select>
    <br />
    <div ng-show="selectedClass != 'undefined'">
        Choose Rubric:
        <select class="form-control" ng-model="selectedRubric" ng-change="fetchCriteria();">
            <option ng-repeat="r in rubricClasses" ng-if="r['C_ID']==selectedClass" value="{{r['R_ID']}}">{{r["R_NAME"]}}</option>
        </select>
    </div>
</div>
<br /><br />
<div ng-show="selectedRubric != 'undefined'">
    <table class="fancy-table">
        <tr>
            <td>Student No.</td>
            <td>Section</td>
            <td></td>
            <td></td>
        </tr>
        <tr ng-repeat="s in scoresets">
            <td>{{s['STUDENT_NUM']}}</td>
            <td>{{s['C_SECTION']}}</td>
            <td><a ng-click="loadScoreset(s['SCORE_ID']);" data-toggle="modal" data-target="#scoresetModal">&nbsp;<span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit</a></td>
            <td>Delete</td>
        </tr>
        <tr>
            <td colspan="4"><a ng-click="resetScoreset();" data-toggle="modal" data-target="#scoresetModal"><span class="glyphicon glyphicon-plus-sign"></span>Add new scoreset...</a></td>
        </tr>
    </table>
</div>

<div class="modal fade" id="scoresetModal" tabindex="-1" role="dialog" aria-labelledby="addClassLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="addClassLabel">{{firstUpper(scoreset.verb)}} Scoreset</h3>
            </div>
            <div class="modal-body">
                <div id="addClass-form">
                    <form>
                        Evaluator: <select class="form-control" ng-model="scoreset.EVAL_ID">
                            <option ng-repeat="e in evaluators" value="{{e['EVAL_ID']}}">{{e["EVAL_NAME"]}}</option>
                        </select><br />
                        Section:&nbsp;<input class="form-control" type="text" ng-model="scoreset.C_SECTION" />
                        <br />
                        <table class="user-table">
                            <tr ng-repeat="c in criteria">
                                <td>{{c["CRIT_TASK_DESC"]}}</td>
                                <td><input type="number" ng-model="scoreset.criteria[c['CRIT_ID']]['score']" min="{{c['CRIT_MIN']}}" max="{{c['CRIT_MAX']}}"/></td>
                            </tr>
                        </table>
                        <input id="rubricClassAdd" type="submit" class="btn btn-default" value="Save" ng-click="chooseScoresetAction();" /><br /><br />
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>