<div >
    <h3 style="margin-top: 0px; padding: 10px;">Outcomes:</h3>
    <table class="fancy-table">
        <tr>
            <td><b>Outcome Name</b></td>
            <td><b>Outcome Desc</b></td>
            <td></td>
            <td></td>
        </tr>
        <tr ng-repeat="o in outcomes">
            <td>{{o["OUT_NAME"]}}</td>
            <td>{{o["OUT_DESC"]}}</td>
            <td><a data-toggle="modal" data-target="#addOutcome" ng-click="outcome.verb = 'modify';outcome.name =o['OUT_NAME'];outcome.desc=o['OUT_DESC'];outcome.id=o['OUT_ID'];">Edit...</a></td>
            <td><a ng-click="outcome.verb = 'delete';outcome.id=o['OUT_ID'];chooseOutcomeFunction();">Delete...</a></td>
        </tr>
        <tr>
            <td colspan="4"><a data-toggle="modal" data-target="#addOutcome" ng-click="outcome.verb='add';outcome.name='';outcome.desc='';">Add new class...</a></td>
        </tr>
    </table>
    <br /><br />
</div>